<!DOCTYPE html>
<html lang="en">
<%- include('partial/header')-%>

<body>
  <section id="main">
    <div class="container">
      <div class="row">
        <%- include('partial/sidemenu')-%>
        <div class="col-md-9">
          <%- include('partial/flash')-%>
          <div class="panel panel-default">
            <div class="panel-heading main-color-bg">
              <h3 class="panel-title"><%= title%></h3>
            </div>
            <div class="panel-body">
              <form action="/api/ads/<%= data[0].advertisement_id%>?_method=PUT" method='POST'
                enctype="multipart/form-data">
                <label style="font-size: 20px;"><%= title%>資料</label>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>名稱</label>
                    <% if (validation.length > 0) { %>
                    <% if (validation.find(element => element.param == "advertisement_name")) { %>
                    <div class="has-error">
                      <input type="text" name="advertisement_name" class="form-control" placeholder="標題名稱"
                        value="<%= ads_info.advertisement_name %>">
                      <span
                        class="error text-danger validation"><%= validation[(validation.findIndex(element => element.param == "advertisement_name"))].msg; %></span>
                    </div>
                    <% } else { %>
                    <input type="text" name="advertisement_name" class="form-control" placeholder="標題名稱"
                      value="<%= ads_info.advertisement_name %>">
                    <% } %>
                    <% } else { %>
                    <input type="text" name="advertisement_name" class="form-control"
                      value="<%= data[0].advertisement_name%>">
                    <% } %>
                  </div>
                  <div class="form-group col-md-6">
                    <label>相關鏈接</label>
                    <% if (validation.length > 0) { %>
                    <% if (validation.find(element => element.param == "advertisement_link")) { %>
                    <div class="has-error">
                      <input type="text" name="advertisement_link" class="form-control" placeholder="http://"
                        value="<%= ads_info.advertisement_link %>">
                      <span
                        class="error text-danger validation"><%= validation[(validation.findIndex(element => element.param == "advertisement_link"))].msg; %></span>
                    </div>
                    <% } else { %>
                    <input type="text" name="advertisement_link" class="form-control" placeholder="http://"
                      value="<%= ads_info.advertisement_link %>">
                    <% } %>
                    <% } else { %>
                    <input type="text" name="advertisement_link" class="form-control" placeholder="http://"
                      value="<%= data[0].advertisement_link%>">
                    <% } %>

                  </div>
                </div>
                <div class="form-group">
                  <label>廣告</label>
                  <div style="position:relative;">
                    <input type="file" name="advertisement_image" id="upload_file" class="hidden" />
                    <button type="button" id="custom-button" class="btn btn-danger">上傳圖片</button>
                    <span id="custom-text">圖檔尚未選擇</span>
                  </div>
                  <br>
                  <img src="<%= data[0].advertisement_image %>" width="600px">
                </div>
                <br>
                <input type="submit" class="btn btn-danger" value="更新">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partial/footer')-%>

</body>

</html>