<!DOCTYPE html>
<html lang="en">

<%- include('partial/header')-%>

<body>
    <section id="main">
        <div class="container">
            <div class="row">
                <%- include('partial/sidemenu')-%>
                <div class="col-md-9">
                    <%- include('partial/flash')-%>
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">分析報告</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <% if (data.length) { %>
                                <% for (var i=0; i< data.length; i++) { %>
                                <div class="col-sm-4 col-md-3">
                                    <div class="thumbnail img-wrap">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true"></button>
                                        <div style="text-align: center; padding: 5px 15px;">
                                            <img src="<%= data[i].image_path%>/<%= data[i].image_name%>" width="150" height="250">
                                        </div>
                                        <div class="caption" style="text-align: center;">
                                            <div><strong><%= data[i].model_name_chn%></strong></div>
                                            <div>分數：<%= data[i].score%></div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <%- include('partial/footer')-%>

</body>

</html>