<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Area | Edit Page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <%- include('partial/header')-%>

    <section id="main">
      <div class="container">
        <div class="row">
            <%- include('partial/sidemenu')-%>
          <div class="col-md-9">
            <%- include('partial/flash')-%>
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title"><%= title%></h3>
              </div>
              <div class="panel-body">
                <form action="/api/category" method='POST'>
                  <label style="font-size: 20px;"><%= title%>資料</label>
                  <div class="form-group">
                    <label>名稱</label>
                    <input type="text" name="name" class="form-control" placeholder="">
                  </div>
                  <div class="form-group">
                    <label style="font-size: 20px; margin-bottom: 10px;">選擇公司</label>
                    <div class="form-check">
                      <div class="boxes">
                        <input type="checkbox" id="box-0">
                        <label for="box-0">公司 1</label>
                        <input type="checkbox" id="box-1">
                        <label for="box-1">公司 2</label>
                        <input type="checkbox" id="box-2">
                        <label for="box-2">公司 3</label>
                        <input type="checkbox" id="box-3">
                        <label for="box-3">公司 4</label>
                        <input type="checkbox" id="box-4">
                        <label for="box-4">公司 5</label>
                        <input type="checkbox" id="box-5">
                        <label for="box-5">公司 6</label>
                        <input type="checkbox" id="box-6">
                        <label for="box-6">公司 7</label>
                      </div>
                    </div>
                  </div>
                  <br>
                  <input type="submit" class="btn btn-danger" value="更新">
                </form>
              </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partial/footer')-%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jQuery.js"></script>
  </body>
</html>