<!DOCTYPE html>
<html lang="en">
<%- include('partial/header')-%>

<body>
    <section id="main">
        <div class="container">
            <div class="row">
                <%- include('partial/sidemenu')-%>
                <div class="col-md-9">
                    <%- include('partial/flash')-%>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-5 col-sm-5">
                                                <i class="material-icons dashboard-panel"
                                                    style="font-size: 100px;">bar_chart</i>
                                            </div>
                                            <div class="col-md-7 col-sm-7" style="text-align: left;">
                                                <div>
                                                    <h2><strong><%= panelBoardSummary[0].totalCompany%></strong></h2>
                                                </div>
                                                <div>
                                                    <h5>公司總數</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="margin: 10px 0px;">
                                        <div><a href="/api/company">更多資訊</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-5 col-sm-5">
                                                <i class="material-icons dashboard-panel"
                                                    style="font-size: 100px;">bar_chart</i>
                                            </div>
                                            <div class="col-md-7 col-sm-7" style="text-align: left;">
                                                <div>
                                                    <h2><strong><%= panelBoardSummary[0].totalClient%></strong></h2>
                                                </div>
                                                <div>
                                                    <h5>客戶總數</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="margin: 10px 0px;">
                                        <div><a href="/api/client">更多資訊</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-5 col-sm-5">
                                                <i class="material-icons dashboard-panel"
                                                    style="font-size: 100px;">bar_chart</i>
                                            </div>
                                            <div class="col-md-7 col-sm-7" style="text-align: left;">
                                                <div>
                                                    <h2><strong><%= panelBoardSummary[0].totalUser%></strong></h2>
                                                </div>
                                                <div>
                                                    <h5>消費者總數</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="margin: 10px 0px;">
                                        <div><a href="/api/user">更多資訊</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-dafault">
                        <div class="panel-body">
                            <div class="col-sm-6" style="padding-bottom: 20px;">
                                <div class="row">
                                    <div class="form-group">
                                        <div><canvas id="databaseConditionReport"></canvas></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="padding-bottom: 20px;">
                                <div class="row">
                                    <div class="form-group">
                                        <div><canvas id="databaseTableReport" height="325px"></canvas></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-dafault">
                        <div class="panel-body">
                            <div class="col-sm-6" style="padding-bottom: 20px;">
                                <div class="row">
                                    <div class="form-group col-md-8 col-sm-8">
                                        <div class='input-group date' id='orderDateTimePicker'>
                                            <input type='text' class="form-control" id="orderDate"
                                                placeholder="MM/YYYY" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="orderCanvasParent"><canvas id="orderMonthlyReport"></canvas></div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">新加入消費者</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>名稱</th>
                                    <th>電郵</th>
                                    <th>加入日期</th>
                                </tr>
                                <% if (userRecord.length) { %>
                                <% for (var i=0; i< userRecord.length; i++) { %>
                                <tr>
                                    <td><%= userRecord[i].user_name %></td>
                                    <td><%= userRecord[i].user_email %></td>
                                    <td><%= userRecord[i].created_date %></td>
                                </tr>
                                <% } %>
                                <% } %>
                            </table>
                            <hr style="margin: 10px 0px;">
                            <div><a href="/api/user">更多資訊</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var randomColor = [];

        for (var i in "<%= databaseName%>") {
            randomColor.push(rgbColorGenerator());
        }

        function rgbColorGenerator() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
        }

        function getLabelArray(label) {
            var analysisString = label;
            return analysisString.split(',')
        }
        function getDataArray(data) {
            var scoreString = data;
            return scoreString.split(',')
        }

        var pieChart = document.getElementById('databaseConditionReport').getContext('2d');
        var pieChart = new Chart(pieChart, {
            type: 'doughnut',
            data: {
                labels: getLabelArray("<%= databaseName%>"),
                datasets: [
                    {
                        backgroundColor: randomColor,
                        data: getDataArray("<%= databaseSize%>"),
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: "資料庫 數據存放空間 (Mb)",
                    fontSize: 18
                },
                legend: {
                    display: true,
                    position: 'top'
                }
            }
        });

        var barChart = document.getElementById('databaseTableReport').getContext('2d');
        var barChart = new Chart(barChart, {
            type: 'bar',
            data: {
                labels: getLabelArray("<%= databaseName%>"),
                datasets: [
                    {
                        backgroundColor: randomColor,
                        data: getDataArray("<%= databaseTables%>"),
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: "資料庫 欄位總數 (Table)",
                    fontSize: 18
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '資料庫'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '總數'
                        },
                        ticks: {
                            beginAtZero: true,
                        }
                    }]
                },
                legend: {
                    display: false
                }, 
                layout: {
                    padding: {
                        top: 0
                    }
                }
            }
        });

        var lineChart = document.getElementById('orderMonthlyReport').getContext('2d');
        var lineChart = new Chart(lineChart, {
            type: 'line',
            data: {
                labels: getLabelArray("<%= orderDay%>"),
                datasets: [{
                    borderColor: "#3e95cd",
                    pointBackgroundColor: "#3e95cd",
                    borderWidth: 2,
                    data: getDataArray("<%= orderDailyReport%>"),
                    fill: true,
                    label: " 訂單總數"

                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '日期'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '總數'
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });
    </script>

    <%- include('partial/footer')-%>

</body>

</html>