<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title%> </title>
    <link href="css/classic.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
    <section id="main">
        <div class="container" style="padding-top: 50px;">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-8 col-lg-8">
                <div class="panel panel-default">
                    <div class="toolbar hidden-print">
                        <div class="row">
                            <div class="text-left col-sm-6" style="padding-top: 20px; padding-left: 45px;">
                                <button class="btn btn-danger btn-info" id="download"><i class="fa fa-file-pdf-o"></i> 下載PDF檔案</button>
                            </div>
                        </div>
                    </div>
                    <hr style="padding-bottom: 0;">
                    <div class="panel-body" style="padding-top: 0;">
                        <div class="invoice overflow-auto" style="padding-top: 0;" id="invoice">
                            <div style="min-width: 600px">
                                <header>
                                    <div class="row information">
                                        <div class="col-sm-4">
                                            <h1 class="information-title">個人資料</h1><br>
                                        </div>
                                    </div>
                                    <div class="row contacts">
                                        <div class="col-sm-4 invoice-to">
                                            <h2 class="to"> <%= data[0].user_name%> </h2>
                                            <div>公司：<%= data[0].company_name%></div>
                                            <div>性別：<%= data[0].user_gender%></div>
                                            <div>出身：<%= data[0].user_birth_year%> 年 <%= data[0].user_birth_month%> 月
                                                <%= data[0].user_birth_day%> 日</div>
                                            <div class="email"><a
                                                    href="mailto:<%= data[0].user_email%>"><%= data[0].user_email%></a>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <header>
                                    <div class="row information">
                                        <div class="col-sm-4">
                                            <h1 class="information-title">數據總覽</h1><br>
                                        </div>
                                    </div>
                                    <div class=row>
                                        <div class="col-sm-6"><canvas id="barchart" height="350" width="350"></canvas>
                                        </div>
                                        <div class="col-sm-6"><canvas id="radarchart"></canvas></div>
                                    </div>
                                </header>
                                <main>
                                    <div class="row">
                                        <% if (data.length) { %>
                                        <% for (var i=0; i< data.length; i++) { %>
                                        <% if (data[i].image_name != "null") { %>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="thumbnail img-wrap">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true"></button>
                                                <div style="text-align: center; padding: 5px 15px;">
                                                    <img src="<%= data[i].image_path%>/<%= data[i].image_name%>" width="220" height="350">
                                                </div>
                                                <div class="caption" style="text-align: center;">
                                                    <div><strong><%= data[i].model_name_chn%></strong></div>
                                                    <div>分數：<%= data[i].score%></div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% } %>
                                        <% } %>
                                    </div>
                                </main>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jQuery.js"></script>
    <script>
        function getLabelArray() {
            var analysisString = "<%= analysisItem%>";
            return analysisString.split(',')
        }
        function getDataArray() {
            var scoreString = "<%= itemScore%>";
            return scoreString.split(',')
        }

        var radarchart = document.getElementById('radarchart').getContext('2d');
        var radarchart = new Chart(radarchart, {
            type: 'radar',
            data: {
                labels: getLabelArray(),
                datasets: [{
                    backgroundColor: 'rgba(255, 153, 0, 0.3)',
                    borderColor: 'rgba(255, 153, 0, 1)',
                    pointBackgroundColor: 'rgba(255, 153, 0, 1)',
                    borderWidth: 2,
                    data: getDataArray(),
                    pointRadius: 3,
                    pointHoverRadius: 5

                }]
            },
            options: {
                scale: {
                    pointLabels: {
                        fontSize: 16,
                    },
                    ticks: {
                        display: false,
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                },
                legend: {
                    display: false
                }
            }
        });

        var barchart = document.getElementById('barchart').getContext('2d');
        var barchart = new Chart(barchart, {
            type: 'bar',
            data: {
                labels: [""],
                datasets: [{
                    label: "皮膚明亮度",
                    backgroundColor: 'rgba(255, 153, 0, 0.3)',
                    borderColor: 'rgba(255, 153, 0, 1)',
                    borderWidth: 2,
                    data: [50]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            suggestedMin: 0,
                            suggestedMax: 100
                        }
                    }]
                },
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: '光澤指數'
                }
            }
        });
    </script>
</body>

</html>