<!DOCTYPE html>
<html lang="en">
<%- include('partial/header')-%>

<body>
  <section id="main">
    <div class="container">
      <div class="row">
        <%- include('partial/sidemenu')-%>
        <div class="col-md-9">
          <%- include('partial/flash')-%>
          <div class="panel panel-default">
            <div class="panel-heading main-color-bg">
              <h3 class="panel-title"><%= title%></h3>
            </div>
            <div class="panel-body">
              <form action="/api/product" method='POST'>
                <label style="font-size: 20px;"><%= title%>資料</label>

                <div class="form-group">
                  <label>名稱</label>
                  <input type="text" class="form-control" placeholder="請輸入產品名稱">
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label>售價</label>
                    <input type="text" class="form-control" placeholder="請輸入產品價格">
                  </div>
                  <div class="form-group col-md-6">
                    <label>庫存</label>
                    <input type="text" class="form-control" placeholder="請輸入產品庫存">
                  </div>
                </div>

                <div class="form-group">
                  <label>類別</label>
                  <div>
                    <select class="form-control minimal">
                      <option value="1">類別 1</option>
                      <option value="2">類別 2</option>
                      <option value="3">類別 3</option>
                      <option value="4">類別 4</option>
                      <option value="5">類別 5</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label>圖片</label>
                    <div style="position:relative;">
                      <input type="file" id="real-file" class="hidden" />
                      <button type="button" id="custom-button" class="btn btn-danger">上傳圖片</button>
                      <span id="custom-text">圖檔尚未選擇</span>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <label>評分</label>
                    <div style="height: 30px;">
                      <div class="rating">
                        <label>
                          <input type="radio" name="stars" value="1" />
                          <span class="icon">★</span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="2" />
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="3" />
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="4" />
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                        </label>
                        <label>
                          <input type="radio" name="stars" value="5" />
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                          <span class="icon">★</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>簡介</label>
                  <textarea class="form-control" placeholder="Page Body" rows="6" style="resize:none;"></textarea>
                </div>

                <input type="submit" class="btn btn-danger" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partial/footer')-%>

</body>

</html>